* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
   }

header {
    background-image: url(../images/Tank.JPG);
    background-size: cover;
    background-position: center;
    height: 200%;
    border: 1px none;
    border-radius: 8px;
    }

footer {
    color:rgb(81,238,10);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    background-color:whitesmoke;
    border: 1px none;
    border-radius: 8px;
    }

footer nav li {
        display: inline-block;
        position: relative;
        }

div {
    background-image: url(../images/wall.JPG);
    background-size: cover;
    background-position: center;
    border: 1px ridge oldlace;
    height: 200%;
    border-radius: 8px;
}
h1 {
    color: transparent;
    position: absolute;
}

h3 {
    
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}

header nav ul {
    list-style-type: none;
    font-size: 100%;
}

header nav li {
    display: inline-block;
    margin-left: 25px;
}



a:link {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #333;
    font-size: 90%;
    padding: 2%;
  }

a:visited {
    text-decoration: none;
    color: #8AB7F8;
}  

a:hover {
    color: rgb(81,238,10);
}

a:active {
    color: papayawhip;
    text-decoration: underline overline ;
}

table {
    width: 20%;
    margin: 0px;
    table-layout: fixed;
  }
  
  table,
  td,
  th {
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 5px #8AB7F8;
    text-align: center;
    }

.mdl {
    background-color:whitesmoke;
    border: 1px dotted white;
    border-radius: -8px;
}

.use {
    color:firebrick;
}

.bodynv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    }  

.menubtn {
 width: 40%;
}

.drpdwnbtn {
    background-image: url(../images/tank.JPG);
    background-size: cover;
    padding: 0;
    border: 2px outset whitesmoke;
    border-radius: 5px;
    width: 18%;
    float: right;
    cursor: grab;
}

.dropdown-content {
    display: none;
    font-size: 110%;
    position: relative;
    height: fit-content;
    padding: 3%;
    z-index: 1;
    float:right;
  }  

.dropdown:hover .dropdown-content {
    border:2px dotted #28f56d;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    padding: 5px;
    } 

.dropdown:active .dropdown-content {
        border:2px dotted #aeb0b3;
        border-radius: 3px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
        padding: 8px;
        } 

#hdr-img {
    display: inline-block;
    padding: 20px;
    width: 35%; 
    }

#hdnv {
    display: inline-block;
    position: absolute;
    margin: 0;
    margin-left: 50%;
    margin-right: auto;
    top: 20%;
    vertical-align: middle;
    height: 20%;
    transform: translate(-50%, -50%) 
    }

#ctimg {
    width: 105%;
}

#about {
    width: 70%;
}

#details {
    display: inline-block;
    position: relative;
    margin: 2%;
    padding: 1%;
    border: 1px inset whitesmoke;
    border-radius: 5px;
    box-shadow:seashell;
}

@media (max-width: 768px) {header nav li {
    display: inline !important;
    margin-left: 30%;
    margin-right: auto;
    transform: translate(-50%, -50%) 
}
}

@media (max-width: 768px) {#hdr-img{
    width: 100%;
}
}

@media (max-width: 768px) {#hdnv, #ctimg {
    position: relative !important;
    margin-top: 15%;
    width: 00%;
    margin-left: 40%;
}
}

@media (max-width: 768px) {a:link {
    font-size: 150% !important;
}
}