* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
   }

header {
    background-image: url(../images/Tank.JPG);
    background-size: cover;
    background-position: center;
    height: 200%;
    border: 1px none;
    border-radius: 8px;
    }

footer {
    padding: 1%;
    background-color: #333;
    border: 1px none;
    border-radius: 8px;
}    

footer section {
    color:rgb(81,238,10);
    display: inline-block;
    margin-left: 45%;
    margin-right: auto;
    }

footer nav li {
        display: inline;
        margin-left: 20%;
        margin-right: auto;
        }

main {
    background-image: url(../images/wall.JPG);
    background-size: cover;
    background-position: center;
    border: 1px ridge oldlace;
    height: 200%;
    border-radius: 8px;
}
h1 {
    color: transparent;
    position: absolute;
}

h2 {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px; 
    padding: 2%; 
    margin-left: 50%;
    margin-right: auto;
 }

h3 {
    
    color: rgb(0,113,197);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-decoration: underline;
    padding-right: 2%;
}

h5 {
    display: inline-block;
    color: whitesmoke;
    padding-right: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header nav ul {
    list-style-type: none;
    font-size: 100%;
}

header nav li {
    display: inline-block;
    margin-left: 25px;
}



a:link {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0,100,230);
    font-size: 90%;
    padding: 2%;
  }

a:visited {
    text-decoration: none;
    color: #8AB7F8;
}  

a:hover {
    color: rgb(81,238,10);
}

a:active {
    color: papayawhip;
    text-decoration: underline overline ;
}

table {
    width: 20%;
    margin: 0px;
    table-layout: fixed;
  }
  
  table,
  td,
  th {
    border-collapse: collapse;
  }
  
  th,
  td {
    border: 5px #8AB7F8;
    text-align: center;
    }

.mdl {
    background-color: linen;
    border: 1px solid white;
    border-radius: 8px;
}

.use {
    color:firebrick;
}

.bodynv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    }  

.menubtn {
 width: 40%;
}

.drpdwnbtn {
    background-image: url(../images/Tank.JPG);
    background-size: cover;
    padding: 0;
    border: 2px outset whitesmoke;
    border-radius: 5px;
    width: 18%;
    float: right;
    cursor: grab;
}

.dropdown-content {
    display: none;
    font-size: 110%;
    position: relative;
    height: fit-content;
    padding: 3%;
    z-index: 1;
    float:right;
  }  

.dropdown:hover .dropdown-content {
    border:2px dotted #28f56d;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    padding: 5px;
    } 

.dropdown:active .dropdown-content {
        border:2px dotted #aeb0b3;
        border-radius: 3px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: flex-end;
        padding: 8px;
        } 

.logimg {
    width: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5%;
    }        

.bodyhr {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}    

.hpmeimg {
    width: 25%;
}

.wrplnk {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    }

.application {
    font-size: 12px;
    color: rgb(0,100,230);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: linen;
    border: 1px inset whitesmoke;
    border-radius: 8px;
    width: 100%;
    overflow: scroll;
}     

.apimg {
    width:20%;
}

.aph3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 15%;
    margin-left: auto;
    margin-right: 90%;
    psition: absolute;
    }

.appname {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30%;   
    position: relative;
    font-size: 15px;
}

.aplst {
    display: inline;
    align-items: center;
   }

.otap{
display: inline-block;
flex-wrap: wrap;
   }

.aph {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}   

#latestapp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    padding: 1%;
    color:khaki;
    background-color: linen;
    border: 1px inset whitesmoke;
    border-radius: 5px;
    box-shadow:seashell;
    width: 20%;
    overflow-x: scroll;
}
#hdr-img {
    display: inline-block;
    padding: 20px;
    width: 35%; 
    }

#hdnv {
    display: inline-block;
    position: absolute;
    margin: 0;
    margin-left: 50%;
    margin-right: auto;
    top: 20%;
    vertical-align: middle;
    height: 20%;
    transform: translate(-50%, -50%) 
    }

#ctimg {
    width: 105%;
}

#about {
    width: 70%;
}

#details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin: 2%;
    padding: 1%;
    color:rgb(0,100,230);
    background-color: linen;
    border: 1px inset whitesmoke;
    border-radius: 5px;
    box-shadow:seashell;
    width: 20%;
    overflow-x: scroll
}

#nwstap {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2 0;
    justify-content: flex-start;
    width: 50%;
}

#nwsp {
    padding: 2%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-grow: 2 0;
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
}

@media (max-width: 768px) {header nav li {
    display: inline !important;
    margin-left: 30%;
    margin-right: auto;
    transform: translate(-50%, -50%) 
}
}

@media (max-width: 768px) {#hdr-img{
    width: 100%;
}
}

@media (max-width: 768px) {#hdnv, #ctimg {
    position: relative !important;
    margin-top: 15%;
    width: 00%;
    margin-left: 40%;
}
}

@media (max-width: 768px) {a:link {
    font-size: 150% !important;
}
}
