* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-radius: 18px;
    padding: 1%;
    background-image: url(../images/Lock.JPG);
    background-size: cover;
    background-position: center;
}

#hdr-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border-radius: 18px; 
    }

#ctme {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  border: 1px dashed #92B7FE;
  border-radius: 18px;
  padding: 1px;
    }

